[submodule "grpc-interfaces"]
	path = grpc-interfaces
	url = ../grpc-interfaces.git
[submodule "tests/machine-emulator-tools"]
	path = tests/machine-emulator-tools
	url = ../machine-emulator-tools.git
